* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(49, 47, 47);
  margin: 0;
  font-family: sans-serif;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.app {
  min-height: 90vh;
  background-color: rgb(160, 160, 160);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 12px;
  width: 500px;
  margin: 5px auto;
  margin-top: 35px;
  border-radius: 10px;
  border: 10px solid #ade66d;
  box-shadow: 3px 5px 50px;
}

#text1 {
  font-weight: bold;
  display: flex;
  margin: 100px 0;
  margin-top: -85px;
  margin-bottom: 20px;
  font-size: 30px;
}

.game-setup div {
  margin: 10px 0;
}
.game-setup label {
  margin-bottom: 10px; /*odstep pomiedzy text1 a choose a category*/
  margin: 20px;
  font-weight: bold;
  flex-direction: column;
  display: block;
}

#category,
#difficulty {
  width: 100%;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 6px;
  font-family: sans-serif;
  font-size: 15px;
}
.start-btn {
  padding: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 20px;
  width: 200px;
  height: 50px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #ade66d;
  border-radius: 5px;
  cursor: pointer;
  background: transparent;
  letter-spacing: 0.3px;
  overflow: hidden;
  margin-bottom: -100px;
  margin-top: 150px;
  background: rgb(49, 47, 47);
}

.start-btn:hover {
  background-color: rgb(92, 179, 131);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.menu {
  width: 100px;
  margin-top: 50px;
  height: 40px;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #000000;
  border: none;
  color: #ffffff;
  text-align: center;
}
